.item-purchase-banner {
    display: none!important;
}

a.link {
    text-decoration: underline;
}
.mdi{
    font-size: 25px;
    color: #243949;
}

.thead-buku{
    background: linear-gradient(135deg, #243949 10%, #517fa4 100%);
    
}

.btn.btn-none {
    cursor: inherit!important;
}

.btn.btn-none:hover {
    color: #fff!important;    
}

.btn.btn-none.btn-warning:hover {
    background-color: #ffaf00!important;
    border-color: #ffaf00!important;
}

.btn.btn-none.btn-success:hover {
    background-color: #19d895!important;
    border-color: #19d895!important;
}

.btn.btn-custom {
    color: #fff;
    background-color: #00d2ff  ;
    border-color: none;
}
.btn.btn-custom:hover {
    color: #fff;
    background-color: #00a8cc;
}

.text-note {
    margin-top: 6px;    
    font-size: 10px;
}
